<div class="container">
    <div class="display-4">Öğretmen paneline hoşgeldiniz.</div>

        <a class="btn btn-outline-dark  fs-4"
           asp-area="TeacherArea"
           asp-controller="ShowCard"
           asp-action="Index">İlanlar</a>
    </div>
</div>