<div class="container">
    <div class="display-4">Yönetici paneline hoşgeldiniz.</div>

<div class="p-4">
    <a 
        class="btn btn-outline-dark fs-4" 
        asp-area="Admin"
        asp-controller="Category"
        asp-action="Index"
    >Kategoriler</a>

    <a class="btn btn-outline-dark  fs-4"
        asp-area="Admin"
        asp-controller="ShowCard"
        asp-action="Index"
    >İlanlar</a>
</div>
</div>